parameters:
    version: 1.0.0


extensions:
    api: Apitte\Core\DI\ApiExtension
    redis: Contributte\Redis\DI\RedisExtension


session:
	expiration: 14 days


di:
	export:
		parameters: no
		tags: no


api:
    debug: %debugMode%
    catchException: true
    plugins:
        Apitte\Core\DI\Plugin\CoreMappingPlugin:
        Apitte\Core\DI\Plugin\CoreDecoratorPlugin:
        Apitte\Negotiation\DI\NegotiationPlugin:
        Apitte\Debug\DI\DebugPlugin:
            debug:
                panel: %debugMode%
                negotiation: %debugMode%


redis:
	debug: %debugMode%

	connection:
		default:
			uri: tcp://redis:6379
			options: []
