services:
    # Core
    - App\Core\BrowserKitFactory

    # Controllers
    - App\Controllers\IndexController
    - App\Controllers\ProxyController
    - App\Controllers\PingController
    - App\Controllers\StorageController

    # Services
    - App\Service\UserService(offset: 23)
    - App\Service\StorageService
    - App\Service\AlbumService
